# Ignore version control directories
.git
.gitignore
.dockerignore

# Ignore build artifacts
_build/
deps/
ebin/
*.beam
*.o
*.so
*.a

# Ignore rebar3 specific files and directories
.rebar3
.rebar
_checkouts
_vendor
rebar3.crashdump

# Docker
Dockerfile
Dockerfile.prod
Dockerfile.test

# Heroku
heroku.yml

# Ignore Erlang specific files and directories
.eunit
.erlang.cookie
erl_crash.dump
*.plt
.concrete/DEV_MODE

# Ignore logs
log/
logs/
*.log

# Ignore editor and IDE config files
*.swp
*.swo
*.swm
*~
*.iml
.idea/
.vscode/

# Ignore node_modules if using Node.js
node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore directory structure text files
directory_structure.txt

# Ignore project brainstorming files
brainstorming*

# Ignore project images
images/

# Ignore websocket-test-page.html
websocket-test-page.html

# Misc
.env
npm-debug.log
yarn-debug.log
yarn-error.log
README.md

# Ignore Infer
infer-out/
