# Ignore build artifacts
_build/
deps/
ebin
*.beam
*.o
*.so
*.a

# Ignore rebar3 config and lock files if not intended to be shared
.rebar3
.rebar
_checkouts
_vendor
rebar.lock
rebar3.crashdump

# Ignore Erlang specific files and directories
.eunit
.erlang.cookie
erl_crash.dump
*.plt

# Ignore logs
log
logs
*.log

# Ignore editor and IDE config files
*.swp
*.swo
*.swm
*~
*.iml
.idea/
.vscode/

# Ignore node_modules if using Node.js
node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore directory structure text files
directory_structure.txt

# Ignore project brainstorming files
brainstorming*

# Ignore environment files
.env
.env.prod

# Ignore sensitive config information
rebar.config.local
