{erl_opts, [debug_info]}.
{deps, []}.
{test_dirs, ["test"]}.

{relx, [{release, {chat_server, "0.1.0"},
         [chat_server]}]}.

{profiles, [
    {prod, [
        {relx, [
            {release, {chat_server, "0.1.0"},
             [chat_server]},
            {dev_mode, false},
            {include_erts, true},
            {include_src, false},
            {extended_start_script, true}
        ]}
    ]}
]}.
