% {
%   erl_opts,
%   [debug_info]
% }.

{
  deps,
  [ {cowboy, "2.9.0"}, {jsx, "3.0.0"} ]
}.

% {
%   test_dirs,
%   ["test"]
% }.

{
  relx,
  [
    {
      release,
      {chat_server, "0.0.69"},
      [chat_server, sasl, runtime_tools]
    },

    {sys_config, "config/sys_dev.config"},
    {vm_args, "config/vm_dev.args"},

    {dev_mode, true},

    {extended_start_script, true}

  ]
}.

{
  profiles,
  [
    {
      prod,
      [
        {
          relx,
          [
            {sys_config_src, "config/sys.config.src"},
            {vm_args_src, "config/vm.args.src"},
            {dev_mode, false}
          ]
        }
      ]
    }
  ]
}.
