{deps, [
    {cowboy, "2.9.0"},
    {jsx, "3.0.0"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {release, {chat_server, "0.0.69"}, [chat_server, sasl, runtime_tools]},
            {sys_config_src, "config/sys.config.src"},
            {vm_args_src, "config/vm.args.src"},
            {dev_mode, false}
        ]}
    ]},
    {test, [
        {relx, [
            {release, {chat_server, "0.0.69"}, [chat_server, sasl, runtime_tools]},
            {sys_config_src, "config/sys_dev.config"},
            {vm_args_src, "config/vm_dev.args"},
            {dev_mode, true},
            {test_dirs, ["test"]}
        ]}
    ]},
    {dev, [
        {relx, [
            {release, {chat_server, "0.0.69"}, [chat_server, sasl, runtime_tools]},
            {sys_config_src, "config/sys_dev.config"},
            {vm_args_src, "config/vm_dev.args"},
            {dev_mode, true},
            {extended_start_script, true}
        ]}
    ]}
]}.
