{deps, [
    {cowboy, "2.9.0"},
    {jsx, "3.0.0"}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{erl_opts, [{i, "priv/static/"}]}.

{relx, [
    {release, {chat_server, "0.1.0"}, [chat_server, sasl, runtime_tools]},
    {mode, prod},
    {sys_config_src, "config/sys.config.src"},
    {vm_args_src, "config/vm.args.src"},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, []},
    {dev, [
        {relx, [
            {sys_config_src, "config/sys_dev.config"},
            {vm_args_src, "config/vm_dev.args"},
            {mode, dev},
            {dev_mode, true}
        ]}
    ]},
    {test, [
        {deps, [meck]}
    ]}
]}.
